@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!-- Map Begin -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.216087382043!2d106.6787666743728!3d10.79475528935514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528d411c35277%3A0xcf96cde06627a938!2zRGVncmV5LnZuIC0gU8OgaSBHw7JuIC0gNDMgSHXhu7NuaCBWxINuIELDoW5oIFAuMTcgUS5QaMO6IE5odeG6rW4!5e0!3m2!1svi!2s!4v1714662598910!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- Map End -->
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <span>Information</span>
                        <h2>Contact Us</h2>
                        <p>
                            As you might expect of a company that began as a high-end interiors contractor, we pay
                            strict attention.
                        </p>
                    </div>
                    <ul>
                        <li>
                            <h4>Ho Chi Minh City</h4>
                            <p>43 Huynh Van Banh St, D.17 Phu Nhuan <br />+84 974 147 287</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/kQ_pyG0jatk?si=Q7nCXhf1LwH3Y5LO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->