@model Web1.Models.ItemMau

@{
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div class="container">
    <form method="post" action="/Admin/Color/UpdatePost">
        <div class="row">
            <div class="col-6">
                <div>
                    <img src="~/Upload/Colors/@Model.Photo" style="width:300px;">
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="padding:20px;">
                    <div class="card-header">
                        <h4 class="card-title">Color Control</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group mt-5">
                            <div class="col-sm-9">
                                <input type="hidden" id="Id_Color" name="Id_Color" value="@Model.Id_Color" />
                            </div>
                        </div>
                        <div class="form-group mt-5">
                            <label for="name">Name</label>
                            <input id="name" name="name" value="@Model.Name" class="form-control">
                        </div>
                        <div class="form-group mt-2">
                            <div class="row">
                                <div class="col-6">
                                    <label for="color_code">Bảng màu</label>
                                    <input type="color" id="inputColor" class="form-control" oninput="setColor()">
                                </div>
                                <div class="col-6">
                                    <label for="color_code">Mã màu</label>
                                    <input id="maMauInput" name="color_code" class="form-control" value="@Model.Color_Code">
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <div class="col-md-10">
                                <input type="submit" value="Save" class="btn btn-primary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    function setColor() {
        var colorValue = document.getElementById("inputColor").value;
        document.getElementById("maMauInput").value = colorValue;
    }
</script>
