<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="/Home"><img src="~/PageAsset/img/degrey/logo2.png" alt=""></a>
                    </div>
                    <p>
                        The name Degrey was created very spontaneously, stemming from "A series of sad days about my career,
                        future in your own past" - according to Degrey's founder.
                    </p>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shoping</h6>
                    <ul>
                        <li><a href="/About">About us</a></li>
                        <li><a href="/Store">Our Store</a></li>
                        <li><a href="/Product">Shopping</a></li>
                        <li><a href="/Cart">Your Cart</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NEWLETTER</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>
                        Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved | This template is made with love by <a href="#" target="_blank">toothache</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
<!-- Search Begin -->
<div class="search-model" style="background-color: rgba(0, 0, 0, 0.9);">
    <div class="h-100 d-flex justify-content-center">
        <div class="search-close-switch">+</div>
        <div class="search-model-form" style="margin-top: 80px">
            <input type="text" id="search-input" placeholder="Search....." onkeyup="searchOnKeyPres()">
            <button class="btn btn-icon text-white btn-lg">
                <i class="fas fa-search"></i>
            </button>

            <div id="search-result-table" class="mt-3">
                <div class="table-responsive">
                    <table class="table text-bg-light">
                        <tbody id="search-result-body">
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Search End -->

<script>
    var typingTimer; 
    var doneTypingInterval = 300;

    function searchOnKeyPres() {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(searchProduct, doneTypingInterval);
    }

    function searchProduct() {
        var key = $("#search-input").val().trim();
        var searchModel = document.querySelector('.search-model');
        var detailUrl = '@Url.Action("Detail", "Product")';

        if (key === '') {
            searchModel.style.display = 'none';
            return;
        }
        $.ajax({
            url: '/Home/SearchProducts',
            method: 'GET',
            data: { key: key },
            success: function (response) {
                var tableContent = '';
                if (response.length > 0) {
                    console.log(response);
                    response.forEach(function (item) {
                        console.log(item);
                        var rowHtml = '<tr onclick="location.href=\'' + detailUrl + '/' + item.id_Product + '\'">';
                        rowHtml += '<td class="white-bg align-middle"><img style="width:50px;height:auto" src="/Upload/Products/' + item.photo + '"/></td>';
                        rowHtml += '<td class="white-bg align-middle"><strong>' + item.name + '</strong></td>';
                        rowHtml += '</tr>';
                        tableContent += rowHtml;


                    });
                } else {
                    tableContent = '<tr><td colspan="5">Can not found any product</td></tr>';
                }
                $('#search-result-body').html(tableContent); // Thêm dữ liệu vào tbody của bảng
                searchModel.style.display = 'block'; // Hiển thị kết quả tìm kiếm
            },
            error: function (xhr, status, error) {
                console.log('An error accur when searching product: ' + error);
            }
        });
    }
</script>