<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login Degrey</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/PageAsset/login-register asset/images/icons/favicon.ico" />
	<!-- login-register-asset/images/icons/favicon.ico -->
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/PageAsset/login-register-asset/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/PageAsset/login-register-asset/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/PageAsset/login-register-asset/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/PageAsset/login-register-asset/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/PageAsset/login-register-asset/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/PageAsset/login-register-asset/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/PageAsset/login-register-asset/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/PageAsset/login-register-asset/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/PageAsset/login-register-asset/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/PageAsset/login-register-asset/css/main.css">
	<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	<div class="row">
		<div class="col-lg-7" style="text-align:center;">
			<img src="~/PageAsset/login-register-asset/images/mau-content-khai-truong-9.jpg" style="width:100%;">
		</div>

	<div class="col-lg-5">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="/Account/LoginPost" method="post" autocomplete="off">
					<span class="login100-form-title p-b-43">
						Log in
					</span>

					<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email">
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
					</div>


					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="pass">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot password?
							</a>
						</div>
					</div>


					<div class="container-login100-form-btn">
						<input type="submit" value="Login" class="btn btn-primary">
					</div>
					@if (!string.IsNullOrEmpty(Context.Request.Query["notify"]))
					{
						<div class="alert alert-danger">Please login again!</div>
					}
					

					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							Dont have an account? <a href="/Account/Register" class="txt1">Sign up now</a>
						</span>
					</div>					
				</form>	
			</div>
		</div>
	</div>
</div>



	<!--===============================================================================================-->
	<script src="~/PageAsset/login-register-asset/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/PageAsset/login-register-asset/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/PageAsset/login-register-asset/vendor/bootstrap/js/popper.js"></script>
	<script src="~/PageAsset/login-register-asset/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/PageAsset/login-register-asset/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/PageAsset/login-register-asset/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/PageAsset/login-register-asset/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="~/PageAsset/login-register-asset/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="~/PageAsset/login-register-asset/js/main.js"></script>

</body>
</html>