@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>About us</h4>
                    <div class="breadcrumb__links">
                        <a href="/Home">Home</a>
                        <span>About us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- About Section Begin -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about__pic">
                    <img src="~/PageAsset/img/degrey/cover.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Who We Are ?</h4>
                    <p>
                        The name Degrey was created very spontaneously,
                        stemming from "A series of sad days about my own career and future in the past" - according to Degrey's founder.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>What We Do ?</h4>
                    <p>
                        Established in 2016 and known to many young people through its media shirts,
                        Degrey is currently gradually asserting its position on the Vietnamese streetwear map.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Why Choose Us ?</h4>
                    <p>
                        A two or three storey house is the ideal way to maximise the piece of earth on which our home
                        sits, but for older or infirm people.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Testimonial Section Begin -->
<section class="testimonial">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="testimonial__text">
                    <span class="icon_quotations"></span>
                    <p>
                        “Going out after work? Take your butane curling iron with you to the office, heat it up,
                        style your hair before you leave the office and you won’t have to make a trip back home.”
                    </p>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="testimonial__pic set-bg" data-setbg="/PageAsset/img/degrey/banner2.png"></div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->
<!-- Team Section Begin -->
<section class="team spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Project</span>
                    <h2>Colab with labels</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="~/PageAsset/img/degrey/bitis.png" alt="">
                    <h5>Degrey x Bitis Hunter</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="~/PageAsset/img/degrey/pepsi.png" alt="">
                    <h5>Degrey x Pepsi</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="~/PageAsset/img/degrey/zflip.png" alt="">
                    <h5>Degrey x SG ZFlip 4</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="~/PageAsset/img/degrey/blacka.png" alt="">
                    <h5>Degrey x Blacka</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->